<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GitVersionTask" version="3.4.1" targetFramework="net45" developmentDependency="true" />
  <package id="Microsoft.Web.Xdt" version="3.0.0" targetFramework="net45" />
  <package id="NuGet.Common" version="4.0.0" targetFramework="net462" />
  <package id="NuGet.Frameworks" version="4.6.4" targetFramework="net462" />
  <package id="NuGet.Packaging" version="4.0.0" targetFramework="net462" />
  <package id="NuGet.Packaging.Core" version="4.0.0" targetFramework="net462" />
  <package id="NuGet.Packaging.Core.Types" version="4.0.0" targetFramework="net462" />
  <package id="NuGet.Versioning" version="4.0.0" targetFramework="net462" />
</packages>